.disco-section {
  padding: 80px 20px;
  background-color: rgba(
    0,
    0,
    0,
    0.85
  ); /* Ahora sí se aplicará la transparencia */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.disco-title {
  text-align: center;
  font-size: 2.2rem;
  letter-spacing: 8px;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: 300;
  color: #fff;
}

.disco-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
  max-width: 950px;
  margin: 0 auto;
}

.disco-card {
  position: relative;
  text-decoration: none;
  color: #fff;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  border: 1px solid rgba(255, 255, 255, 0.1);
  max-width: 220px;
  margin: 0 auto;
  transition: all 0.3s ease;
  cursor: pointer;
}

.disco-card:hover {
  border-color: rgba(255, 255, 255, 0.4);
}

.disco-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
}

.disco-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.4s ease;
  backdrop-filter: blur(5px);
}

.disco-card:hover .disco-overlay {
  opacity: 1;
}

.disco-card:hover .disco-cover {
  transform: scale(1.1);
}

.disco-info {
  text-align: center;
  padding: 15px;
}

.disco-type {
  font-size: 0.65rem;
  letter-spacing: 2px;
  color: #888;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.disco-info h3 {
  font-size: 1.1rem;
  margin-bottom: 5px;
  font-weight: 400;
  letter-spacing: 1px;
}

.disco-year {
  font-size: 0.85rem;
  color: #555;
  display: block;
}

.spotify-hint {
  margin-top: 15px;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px 10px;
  display: inline-block;
}

.mystery-card {
  background: linear-gradient(45deg, #050505, #111);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #333;
}

.mystery-content {
  text-align: center;
  opacity: 0.4;
  transition: opacity 0.5s ease;
}

.mystery-icon {
  font-size: 3rem;
  font-family: serif;
  display: block;
  margin-bottom: 10px;
  color: #fff;
}

.mystery-text {
  font-size: 0.7rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #888;
}

.mystery-card:hover .mystery-content {
  opacity: 1;
  transform: scale(1.1);
}

.mystery-card:hover .mystery-icon {
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}
