/* ====================================================
   LAYOUT
   ==================================================== */
main {
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: #060608;
}

section {
  padding: var(--spacing-section);
  position: relative;
}

@media (max-width: 768px) {
  section {
    padding: var(--spacing-section-sm);
  }
}
