* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  background-color: transparent !important; /* Forzamos transparencia */
  color: white;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

/* Color de respaldo real si la imagen no carga */
body {
  background-color: #050505;
}
