* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  background-color: #050505; /* Fondo de seguridad */
  color: white;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

body {
  background: transparent;
}
